@charset "utf-8";
/* CSS Document */
body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:auto
	width:1200px;
	background:#E9E0B2;
	padding: 50px;
}

#pic{text-align:center;
}
	
h1{ text-align:center;
	
	
}

p{
	text-align:center;	
	
}
h2{
	
	
	
}



