body {
  background: #fff url(../../../CAS%20204/final/cool.jpg) no-repeat top center;
  margin: 0;
  font-family: Helvetica;
}

#container{
  margin: 0 auto;
  width: 600px;
  padding-top: 150px;
  background: #fff url(panoramic-view.jpg) no-repeat top center;
  border-top: 10px solid #181818;
}

#one{
  padding: 20px 40px;
  background: #fff;
}

a:link {
	color: #424242;	
	text-decoration: none;
}

a:visited {
	text-decoration: none;		
	
	
}

a:hover {
	background: yellow;
	font-size: 1.4em;
}

a:active{
		
}
ol li {
	padding: 20px;	
}

ul li:last-child{
	color: none;
	
}

ul li:nth-child(2n+4) {
	background: white;	
	
}


ul li {
	display:inline-flex;
	padding: 2px;
	padding-top:0px;
	width: 150px;
	margin: 0;
}

#aboutimages{
text-align: center;
    width: 100%;
    margin: 0;
    float:left;
    }

#aboutimgleft img{
    float:left;
    padding-bottom:10px;
    padding-top:0px;
    padding-left:50px;
} 

#aboutimgcenter {
    margin: auto; 
	padding-left:220px;
	padding-right:0px;
}

#aboutimgcenter img{
    float:left;
    padding-bottom:0px;
    padding-top:0px;
}

#aboutimgright img{
    float:right;
    padding-bottom:0px;
    padding-top:0px;
    padding-right:0px;
    
} 

ol {
	
	display:inline-block;
	width: 150px;
	padding:20px;
}

h3 {
	clear: both;
}

