@charset "utf-8";
/* CSS Document */
@media (min-width: 801px) {
.column1 {
	float:left;
	width: 33%;
	margin: 0 auto;
	background: #E3E3E3;
	padding: 0em;
}

.column2 {
	float:left;
	width: 33%;
	margin: 0 auto;
	background: #646464;
	padding: 0em;
}

.column3 {
	float: left;
	width: 33%;
	margin: 0 auto;
	background: #E3E3E3;
	padding: 0em;
}
}

@media (max-width: 800px) {
	.column1 {
		float: left;
		width: 50%;
		margin: 0 auto;
		background: #E3E3E3;
		padding: 0em;
		
	}
	.column2 {
		float: left;
		width: 50%;
		margin: 0 auto;
		background: #646464;
		padding: 0em;
	}
	.column3 {
		width: 50%;		
		margin: 0 auto;
		background: #E3E3E3;
		padding: 0em;
	}
}

@media (max-width: 600px) {
	.column1 {
		float: left;
		width: 100%;
		margin: 0 auto;
		background: #E3E3E3;
		padding: 0em;
		
	}
	.column2 {
		float: left;
		width: 100%;
		margin: 0 auto;
		background: #646464;
		padding: 0em;
	}
	.column3 {
		width: 100%;		
		margin: 0 auto;
		background: #E3E3E3;
		padding: 0em;
	}
}



@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	
}